<ion-content [fullscreen]="true" class="ion-padding">
    <div class="header sticky">
        <div class="label-head">Brands Profile</div>

        <div
            class="btn-grad add-btn"
            style="padding-right: 1rem"
            (click)="add()"
        >
            <mat-icon class="add-icon">add</mat-icon>
            <span style="padding: 5px">Add Brand</span>
        </div>
    </div>

    <div class="head sticky1">
        <div class="search_box">
            <ion-searchbar
                style="width: 500px !important"
                autofocus
                debounce="400"
                placeholder="Search..."
                #mySearchbar
                show-cancel-button="focus"
                (ionClear)="reset()"
                (ionChange)="applyFilter($event)"
            ></ion-searchbar>
            <div
                style="
                    display: flex;
                    align-self: center;
                    font-style: italic;
                    font-size: 13px;
                "
            >
                Showing&nbsp;
                <span style="font-weight: 600">{{this.listArray?.length}}</span
                >&nbsp;of&nbsp;<span style="font-weight: 600"
                    >{{this.full_count}}</span
                >
            </div>
        </div>

        <div class="full-download" style="align-self: center">
            <button
                style="border-radius: 0px"
                appPreventDoubleClick
                class="cursor"
                type="button"
                [throttleTime]="500"
                mat-stroked-button
                type="button"
                tabindex="-1"
                (click)="exportToExcel()"
            >
                <mat-icon>cloud_download</mat-icon>
                &nbsp; Download
            </button>
        </div>
    </div>

    <ng-container>
        <div>
            <div class="table-header sticky2">
                <div class="column-item">#</div>
                <div class="column-item">Name</div>

                <div class="column-item" style="padding-left: 16px">Action</div>
            </div>

            <div
                *ngFor="let item of listArray; let idx = index"
                class="brand-view-listItem"
            >
                <div>{{idx + 1}}</div>
                <div class="item">{{item.brand_name}}</div>

                <div>
                    <button
                        mat-button
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{element: item}"
                        style="color: blue; font-size: 18px; font-weight: 400"
                    >
                        <img
                            src="/assets/images/svg/ellipsis-horizontal.svg"
                            width="24px"
                            height="24px"
                            alt=""
                        />
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-element="element">
            <button mat-menu-item (click)="edit(element)">
                <mat-icon>edit </mat-icon>
                <span>Edit</span>
            </button>

            <button mat-menu-item (click)="delete(element)">
                <mat-icon>delete</mat-icon>
                <span>Delete </span>
            </button>
        </ng-template>
    </mat-menu>

    <ng-container *ngIf="!is_loaded">
        <ion-item *ngFor="let fake of _helperUtilsService.generateFake(20)">
            <div
                style="
                    display: grid;
                    grid-template-columns: 1fr 1fr 100px 100px;
                    width: 100%;
                    gap: 10px;
                    padding: 10px;
                "
            >
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 150px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 100px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 150px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 100px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
            </div>
        </ion-item>
    </ng-container>

    <ng-container *ngIf="this.all_caught_up !== '' ">
        <span class="all_caught_up"> {{this.all_caught_up}} </span>
    </ng-container>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
