.content {
    display: grid;
    width: 94%;
    margin: 0 auto;
    padding: 16px;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 100px;
}

.actions {
    align-self: center;
    justify-self: center;
}

.center-message {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

// Table CSS
.table-header,
.brand-view-listItem,
.headerRow {
    display: grid;
    grid-template-columns: 40px 400px 200px;
    align-items: center;
    padding: 5px;
}

.table-header {
    color: #333;
    color: #606060;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid var(--lp-line-divider);
    border-top: 1px solid var(--lp-line-divider);
    background-color: azure;
}

.listItem {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.item {
    color: #333;
    font-size: 14px;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    background-color: #fff;
}

.brand-view-listItem:hover {
    background-color: #f5f5f5;
}

.brand-view-listItem:hover .delete-me {
    background-color: #f5f5f5;
    cursor: pointer;
    display: block;
}

.delete-me {
    display: none;
    text-align: center;
}

.brand-view-listItem {
    background-color: #fff;
    border-bottom: 1px solid #e8e6e6;
}

.vb-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222;
    font-size: 20px;

    background-color: #fff;
    padding-bottom: 1rem !important;
}

.sticky {
    position: sticky;
    top: -16px;
    z-index: 1;
}

.sticky1 {
    position: sticky;
    top: 36px;
    padding: 0px !important;
    z-index: 1;
}
.sticky2 {
    position: sticky;
    top: 90px;
    z-index: 1;
}

.label-head {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0.7;
    align-self: center;
    padding-left: 1rem;
}

.search_box {
    display: flex;
}
