.screen-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: #222;
	font-weight: 500;

	font-size: 0.9rem;
}

.customer-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5px 0;
}

.header {
	display: grid;
	grid-template-columns: 40px 1fr 1fr 1fr 110px 110px;
	padding: 10px;
	color: #000;
	font-size: 14px;
	background-color: #f4f5f7;
}

.list-item {
	display: grid;
	grid-template-columns: 40px 1fr 1fr 1fr 110px 110px;
	padding: 10px;
	font-size: 14px;
}

.header1 {
	display: grid;
	grid-template-columns: 40px 1fr 100px 1fr 100px 1fr 110px 110px;
	padding: 10px;
	color: #000;
	font-weight: 300;
	font-size: 14px;
	background-color: #f4f5f7;
}

.list-item1 {
	display: grid;
	grid-template-columns: 40px 1fr 100px 1fr 100px 1fr 110px 110px;
	padding: 8px 6px;
	font-size: 12px;
}

.action-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 5px 6px;
	border-bottom: 1px solid #e2e2e2;
}
