.screen-header {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
}

// Notes: How to center absolute div horizontally using CSS?
.enq-form {
	right: 0;

	left: 0;
	display: grid;
	align-content: flex-start;
	width: 90%;
	margin-right: auto;

	margin-left: auto;
	overflow-y: auto;
	border: 0 solid red;
}

.enq-form1 > div:last-child {
	scroll-snap-align: end;
}

.enq-wrap {
	display: grid;
	display: grid;
	width: 94%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 100px;

	.row {
		display: grid;
		grid-template-rows: 40px 1fr;
		padding: 10px 10px 50px;

		.row1 {
			display: grid;
			grid-gap: 10px;
			grid-template-columns: 40px 40px 120px 1fr minmax(120px, 150px);
			align-items: center;
			color: '#a5a5a6';
			background-color: #f5f5f5;
			border-bottom: 2px solid rgb(173, 173, 173);
		}

		.row2 {
			align-items: center;
			// overflow-y: auto;
			// overflow-x: hidden;
			// max-height: 500px;
			padding-top: 10px;

			.list-item {
				display: grid;
				grid-gap: 10px;
				grid-template-columns: 40px 40px 120px 1fr minmax(120px, 150px);
				align-self: center;
				padding-top: 5px;
				font-size: 14px;
			}
		}
	}
}

.submit {
	align-self: center;
	justify-content: center;
}

.item-details {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 40px 40px 120px 1fr minmax(120px, 150px);
	align-items: center;
	padding-right: 12px;
	padding-left: 12px;
}

.example-full-width {
	width: 100%;
}

.mat-auto-width {
	width: 80%;
}

.remarks-txtarea {
	width: 400px;
}

.save-btn {
	width: 400px;
}

.id {
	font-size: 14px;
}

.add-item {
	display: grid;

	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	color: darkblue;
	font-size: 18px;
	text-align: center;
}

.list-block {
	display: grid;

	overflow-y: auto;
	border: 0 solid red;
}

.elseblock {
	display: grid;
	align-items: center;
	justify-self: left;
}

.content {
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin: 0 auto;
}

.customer1 {
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr;
	width: 100%;
	padding-bottom: 10px;
}

.customer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 100px;
	width: 94%;
	margin: 0 auto;
	padding: 3rem 1rem 1rem;
}

.cust-info {
	display: grid;
	align-self: center;
	justify-content: left;
	padding-left: 10px;
	font-size: 12px;
}

.items {
	margin-right: auto;
}

.itms-lbl {
	color: #797979;
	font-size: 14px;
}

.main-add {
	display: grid;
	grid-template-columns: 2fr minmax(110px, 100px);
	background-color: #7e8bb1;

	.left {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: minmax(410px, 1fr) 1.5fr minmax(60px, 80px) 110px;
		align-items: center;
		align-self: center;
		padding: 1rem;
		background-color: #e8e8e8;
		border-top: 2px solid #7e8bb1;
		border-bottom: 2px solid #7e8bb1;
	}

	.right {
		display: grid;
		grid-template-columns: 1fr;
		padding: 5px;
		background-color: #efefef;
	}
}

.small-icon-button {
	width: 42px !important;
	height: 42px !important;
	line-height: 42px !important;

	.mat-icon {
		width: 32px !important;
		height: 32px !important;
		line-height: 28px !important;
	}

	.material-icons {
		font-size: 32px !important;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	width: calc(100vw - 176px);
	height: auto;
	padding: 0.5rem 80px 0.5rem 1rem;
	background-color: #f7f9fd;
	border-top: 1px solid #e6e6e6;
}

.enq-bottom {
	position: fixed;

	bottom: 56px;
	display: grid;

	width: 100%;
	height: auto;
	padding: 0 5%;
	background-color: #fff;
}
