<ion-content>
    <div class="content">
        <div style="display: flex; justify-content: space-between">
            <div
                style="
                    padding: 1rem 0rem 0rem 2rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    display: grid;
                    justify-items: flex-start;
                "
            >
                <div>Products & Stock Management</div>

                <div>
                    <div class="btn-grad add-btn" (click)="add()">
                        <mat-icon class="add-icon">add</mat-icon>
                        <span style="padding-left: 10px; font-size: 20px"
                            >Add Product</span
                        >
                    </div>
                </div>
            </div>

            <div>
                <ion-searchbar
                    style="width: 400px"
                    autofocus
                    debounce="400"
                    placeholder="Search by part number / description"
                    #mySearchbar
                    class="search"
                    show-cancel-button="focus"
                    (ionClear)="reset()"
                    (ionChange)="openDialog($event)"
                ></ion-searchbar>
            </div>
        </div>

        <div class="head">
            <div>&nbsp;</div>
            <div class="full-download">
                <img
                    matTooltip="Download"
                    matTooltipClass="tooltip"
                    src="/assets/images/svg/direct-download.svg"
                    style="cursor: pointer; position: relative; top: 12px"
                    width="32px"
                    height="32px"
                    (click)="exportCompletedPurchaseToExcel()"
                />
                <span style="font-size: 16px; font-weight: 400; color: #818181">
                    Download Full Stock
                </span>
                <div style="text-align: right">
                    <mat-checkbox (change)="checked($event)">
                        <span style="font-size: 14px; color: #939393"
                            >MRP Split</span
                        >
                    </mat-checkbox>
                </div>
                <div
                    style="
                        font-size: 10px;
                        text-align: right;
                        font-style: italic;
                        color: rgb(220, 107, 8);
                    "
                >
                    May take few seconds
                </div>
            </div>
        </div>
        <div></div>
        <br /><br />
        <ng-container *ngIf="isTableHasData">
            <div style="width: 90%; display: grid; margin: 0 auto">
                <div class="row1">
                    <div class="row-cnt">
                        &nbsp;&nbsp;
                        <span
                            *ngIf="pageLength >= 50"
                            style="font-size: 14px; color: #4a4ccf"
                        >
                            Showing {{ pageLength }} + matching records
                        </span>
                        <span
                            *ngIf="pageLength < 50"
                            style="font-size: 14px; color: #4a4ccf"
                        >
                            Showing {{ pageLength }} matching records
                        </span>
                    </div>
                </div>

                <div class="header lp-table-header">
                    <div class="column-item">#</div>
                    <div class="column-item">Code</div>
                    <div class="column-item">Description</div>
                    <div class="column-item">Brand</div>
                    <div class="column-item">Rack Info</div>
                    <div class="column-item">Available Stock</div>
                    <div class="column-item">MRP</div>
                    <div class="column-item">Action</div>
                </div>

                <div
                    *ngFor="let item of resultArray; let idx = index"
                    class="listItem"
                >
                    <div>{{idx + 1}}</div>
                    <div class="item">{{item.product_code}}</div>
                    <div class="item">{{item.product_description}}</div>
                    <div class="item">{{item.name}}</div>
                    <div class="item">{{item.rack_info}}</div>
                    <div class="item">{{item.available_stock}}</div>
                    <div class="item">{{item.mrp}}</div>
                    <div>
                        <button
                            mat-button
                            [matMenuTriggerFor]="menu"
                            [matMenuTriggerData]="{element: item}"
                            style="
                                color: blue;
                                font-size: 18px;
                                font-weight: 400;
                            "
                        >
                            More
                            <img
                                src="/assets/images/svg/down-arrow.svg"
                                width="12px"
                                height="12px"
                                alt=""
                            />
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ion-content>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-element="element">
        <button mat-menu-item (click)="edit(element)">
            <span> Edit</span>
        </button>
        <button mat-menu-item (click)="correctProduct(element)">
            <span> Stock Correction</span>
        </button>
        <button mat-menu-item (click)="showInventoryReportsDialog(element)">
            <span> Stock Audit</span>
        </button>
    </ng-template>
</mat-menu>
