<ion-content [fullscreen]="true" class="ion-padding">
    <div
        class="sticky"
        style="
            display: flex;
            justify-content: space-between;

            padding: 16px 0;
            background-color: #fff;
            z-index: 1;
        "
    >
        <div class="label-head">Products & Stock Management</div>

        <div
            class="btn-grad add-btn"
            style="padding-right: 1rem"
            (click)="add()"
        >
            <mat-icon class="add-icon">add</mat-icon>
            <span style="padding: 5px">Add Product</span>
        </div>
    </div>

    <div class="head sticky1" style="padding: 1rem 0">
        <div style="display: flex">
            <ion-searchbar
                style="width: 400px"
                autofocus
                debounce="400"
                placeholder="Search stocks..."
                #mySearchbar
                class="search"
                show-cancel-button="focus"
                (ionClear)="reset()"
                (ionChange)="openDialog($event)"
            ></ion-searchbar>
            <div
                style="
                    display: flex;
                    align-self: center;
                    font-style: italic;
                    font-size: 13px;
                "
            >
                Showing&nbsp;
                <span style="font-weight: 600">{{this.listArray?.length}}</span
                >&nbsp;of&nbsp;<span style="font-weight: 600"
                    >{{this.full_count}}</span
                >
            </div>
        </div>

        <div class="full-download" style="align-self: center">
            <button
                style="border-radius: 0px"
                appPreventDoubleClick
                class="cursor"
                type="button"
                [throttleTime]="500"
                mat-stroked-button
                type="button"
                tabindex="-1"
            >
                <mat-icon>cloud_download</mat-icon>
                &nbsp;Download
            </button>
            <button
                mat-stroked-button
                color="primary"
                tabindex="-1"
                #ddTrigger="matMenuTrigger"
                [matMenuTriggerFor]="beforeMenu"
                style="border-radius: 0px; border-left: 1px solid grey"
            >
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
        </div>
    </div>
    <div></div>

    <ng-container>
        <div
            style="
                width: 100%;

                margin: 0 auto;
                padding-left: 1rem;
                padding-right: 1rem;
            "
        >
            <div class="row1" *ngIf="isTableHasData">
                <div class="row-cnt">
                    &nbsp;&nbsp;
                    <span
                        *ngIf="pageLength >= 50"
                        style="font-size: 14px; color: #4a4ccf"
                    >
                        Showing {{ pageLength }} + matching records
                    </span>
                    <span
                        *ngIf="pageLength < 50"
                        style="font-size: 14px; color: #4a4ccf"
                    >
                        Showing {{ pageLength }} matching records
                    </span>
                </div>
            </div>

            <div class="header header-style sticky2">
                <div class="column-item">#</div>
                <div class="column-item">Code</div>
                <div class="column-item" style="padding-left: 16px">
                    Description
                </div>
                <div class="column-item" style="padding-left: 16px">Brand</div>
                <div class="column-item" style="padding-left: 16px">
                    Rack Info
                </div>
                <div
                    class="column-item txt-right-align"
                    style="padding-right: 16px"
                >
                    Available Stock
                </div>
                <div
                    class="column-item txt-right-align"
                    style="padding-right: 16px"
                >
                    MRP
                </div>
                <div class="column-item txt-center-align">&nbsp;</div>
            </div>

            <div
                *ngFor="let item of listArray; let idx = index"
                class="listItem"
            >
                <div>{{idx + 1}}</div>
                <div class="item a-link" (click)="edit(item)">
                    {{item?.product_code}}
                </div>
                <div class="item" style="padding-left: 16px">
                    {{item?.product_description}}
                </div>
                <div class="item" style="padding-left: 16px">
                    {{item?.brand_name}}
                </div>
                <div class="item" style="padding-left: 16px">
                    {{item?.rack_info}}
                </div>
                <div class="item txt-right-align" style="padding-right: 16px">
                    {{item?.available_stock}}
                </div>
                <div class="item txt-right-align" style="padding-right: 16px">
                    {{item?.mrp}}
                </div>
                <div class="more a-link" (click)="correctProduct(item)">
                    Adjustment
                </div>
                <div
                    class="more a-link"
                    (click)="showInventoryReportsDialog(item)"
                >
                    Audit
                </div>
            </div>
        </div>
    </ng-container>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ng-container *ngIf="!is_loaded">
        <ion-item *ngFor="let fake of _helperUtilsService.generateFake(20)">
            <div
                style="
                    display: grid;
                    grid-template-columns: 1fr 1fr 100px 100px;
                    width: 100%;
                    gap: 10px;
                    padding: 10px;
                "
            >
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 150px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 100px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 150px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 100px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
            </div>
        </ion-item>
    </ng-container>
</ion-content>

<mat-menu #beforeMenu="matMenu" [overlapTrigger]="false" xPosition="before">
    <mat-option>
        <div
            type="button"
            tabindex="-1"
            (click)="exportCompletedSalesToExcel()"
        >
            Stock Summary
        </div>
    </mat-option>
    <mat-option>
        <div type="button" tabindex="-1" (change)="checked($event)">
            MRP Split
        </div>
    </mat-option>
</mat-menu>
