.wrap {
    padding: 1rem;
    margin: 1rem;
}

.heading {
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
    padding: 1rem 0 1rem 0;
}

.customers {
    width: 300px;
}

.mat-auto-width {
    width: 500px;
}

.example-full-width {
    width: 140px;
}

.split {
    display: grid;
    width: 500px;
    grid-template-columns: 140px 334px;
    gap: 2rem;
}

.split1 {
    display: grid;
    width: 500px;
    grid-template-columns: 140px 334px;
    gap: 2rem;
}

.list-header,
.list-item {
    display: grid;
    grid-template-columns: 140px 2fr 1fr 1fr 1fr;
    background-color: #f1f1f1;
    padding: 6px;
    width: 90%;
}

.list-item {
    background-color: #fff;
    border-bottom: 1px solid var(--lp-line-divider);
}

.bottom {
    display: grid;
    grid-template-columns: 2fr 4fr;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #fbfbfb;
    width: 90%;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.submit {
    text-align: center;
}
