.header {
  display: flex;
  padding: 10px 20px;
  padding-left: 7px;
  color: #222;
  background-color: #fff;

  box-shadow: 0 0 9px -5px rgb(0 0 0 / 70%);
}

.spacer {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.fname {
  color: #222;
  font-size: 14px;
}

.role {
  color: #222;
  font-size: 12px;
}

.cname {
  color: #797979;
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
  line-height: 12px;
  letter-spacing: -0.05em;

  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.launchpad {
  display: grid;
  align-content: center;
  padding: 0 16px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
}

.quick-links {
  position: relative;
  top: -6px;
  padding-left: 10px;
  color: #4e53b7;
  font-weight: bold;
  font-size: 12px;

  font-style: normal;
  line-height: 16px;
  cursor: pointer;
}

#search input[type="search"].filled {
  width: 400px;
  padding-left: 32px;
  color: #4a83c0;
  background-color: #fff;
  cursor: auto;
}

.close {
  z-index: 10;
  margin-left: -3rem;
  margin-right: 1rem;
}
