<ion-content>
    <div class="search-purchase-header sticky" style="padding: 1rem">
        <div>All Purchase Orders</div>

        <div class="full-download" style="align-self: center">
            <button
                style="border-radius: 0px"
                appPreventDoubleClick
                class="cursor"
                type="button"
                [throttleTime]="500"
                mat-flat-button
                type="button"
                mat-stroked-button
                tabindex="-1"
                (click)="exportCompletedPurchaseToExcel()"
            >
                <mat-icon>cloud_download</mat-icon>
                &nbsp;Download
            </button>
        </div>
    </div>
    <div class="search-bar-purchase sticky1">
        <div>
            <img
                src="/assets/images/svg/refresh.svg"
                width="22px"
                height="22px"
                style="cursor: pointer"
                matTooltip="Reset Search Filter"
                matTooltipClass="tooltip"
                (click)="reset()"
            />
        </div>
        <div
            [matMenuTriggerFor]="menuN"
            #menuTriggerN
            style="flex: 0 0 70px; padding: 0 16px"
        >
            <img
                src="/assets/images/svg/filter-results-button.svg"
                width="22px"
                height="22px"
                style="cursor: pointer"
                matTooltip="Advance Filter"
                matTooltipClass="tooltip"
            />
        </div>

        <!-- <app-search-customers
            (customerOutput)="customerInfoPage($event)"
            (customerSearchResetOutput)="customerSearchReset()"
        ></app-search-customers> -->

        <div
            style="
                display: flex;
                align-self: center;
                font-style: italic;
                font-size: 13px;
            "
        >
            Showing&nbsp;
            <span style="font-weight: 600">{{this.filteredValues?.length}}</span
            >&nbsp;of&nbsp;<span style="font-weight: 600"
                >{{this.full_count}}</span
            >
        </div>

        <div
            class="filter_date_range"
            *ngIf="!isCustomDateFilter"
            [matMenuTriggerFor]="admin"
        >
            <div>
                <div>
                    {{this.from_date | date:'MMM dd'}} - {{this.to_date |
                    date:'dd, yyyy'}}
                </div>

                <div style="font-weight: 600">
                    Last {{this.searchByDays}} days
                </div>
            </div>
            <div style="position: relative; top: 4px">
                <img
                    src="/assets/images/svg/down-arrow.svg"
                    width="14px"
                    height="14px"
                />
            </div>
        </div>

        <ng-container *ngIf="isCustomDateFilter">
            <div class="filter_date_range">
                <div>
                    <mat-form-field style="margin-bottom: -1.25em">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input
                                matStartDate
                                matInput
                                readonly
                                placeholder="Start date"
                                [ngModel]="this.from_date"
                                (dateChange)="opsFromDateEvent($event)"
                            />
                            <input
                                matEndDate
                                matInput
                                readonly
                                placeholder="End date"
                                [ngModel]="this.to_date"
                                (dateChange)="opsToDateEvent($event)"
                            />
                        </mat-date-range-input>
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
        <div
            style="padding: 0px 0px 0px 10px"
            *ngIf="isCustomDateFilter"
            (click)="customDateFilter()"
        >
            <img
                class="cursor"
                src="/assets/images/svg/close.svg"
                width="20px"
                height="20px"
            />
        </div>
    </div>

    <div class="header header-style sticky2">
        <div class="column-item">#</div>

        <div
            class="column-item"
            [ngClass]="isSelectedColumn('Date')"
            (click)="sortInvoiceDate()"
        >
            <span> R. Date </span>

            <app-descending *ngIf="this.orderDefaultFlag === 'desc'">
            </app-descending>
            <app-ascending *ngIf="this.orderDefaultFlag === 'asc'">
            </app-ascending>
        </div>
        <div class="column-item">PO #</div>
        <div class="column-item">Vendor Name</div>

        <div class="column-item txt-left-align">LR #</div>

        <div class="column-item txt-right-align">Items</div>
        <div class="column-item txt-right-align">Net Total</div>
    </div>
    <div *ngIf="filteredValues?.length === 0" class="no-records-found">
        No records found
    </div>
    <div *ngFor="let item of filteredValues; let idx = index" class="listItem">
        <div>{{idx + 1}}</div>

        <div class="item">{{item.received_date | date:'d-M-yyyy' }}</div>

        <div
            class="item link-it"
            style="padding-right: 10px"
            (click)="openDialog(item)"
        >
            {{item.invoice_no}}
        </div>

        <div class="item">{{item.vendor_name}}</div>

        <div class="item" style="text-align: left; padding-left: 10px">
            {{item.lr_no}}
        </div>

        <div class="item" style="text-align: right">{{item.no_of_items}}</div>

        <div class="item" style="text-align: right">
            {{item.net_total.toLocaleString('en-IN')}}
        </div>
    </div>

    <mat-menu #admin="matMenu" [overlapTrigger]="false" class="myMenu">
        <div mat-menu-item class="mat-menu-line-height" (click)="dateFilter(7)">
            <span>Last 7 days</span>
        </div>

        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="dateFilter(14)"
        >
            <span>Last 14 days</span>
        </div>
        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="customDateFilter()"
        >
            <span>Custom</span>
        </div>
    </mat-menu>

    <mat-menu #menuN="matMenu">
        <div mat-menu-item class="mat-menu-line-height" (click)="openDialog1()">
            By Purchase Invoice #
        </div>
    </mat-menu>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
