<ion-content>
    <div class="search-sale-header" style="padding: 1rem">All Sale Orders</div>
    <div class="search-bar">
        <div
            [matMenuTriggerFor]="menuN"
            #menuTriggerN
            style="flex: 0 0 70px; padding: 0 16px"
        >
            <img
                src="/assets/images/svg/filter-results-button.svg"
                width="22px"
                height="22px"
            />
        </div>

        <app-search-customers
            (customerOutput)="customerInfoPage($event)"
        ></app-search-customers>

        <div class="toggle_search_status">
            <ion-segment mode="ios" value="New Sale" class="toggle_btn">
                <ion-segment-button value="New Sale">
                    <ion-label>All</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Sales & Services">
                    <ion-label>Draft</ion-label>
                </ion-segment-button>
                <ion-segment-button value="invoiced">
                    <ion-label>Invoiced</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>

        <div class="filter_date_range" [matMenuTriggerFor]="admin">
            <div>
                <div>
                    {{this.from_date | date:'MMM dd'}} - {{this.to_date |
                    date:'dd, yyyy'}}
                </div>

                <div style="font-weight: 600">
                    Last {{this.searchByDays}} days
                </div>
            </div>
            <div style="position: relative; top: 4px">
                <img
                    src="/assets/images/svg/down-arrow.svg"
                    width="14px"
                    height="14px"
                />
            </div>
        </div>
    </div>

    <div class="header header-style">
        <div class="column-item">#</div>

        <div
            class="column-item"
            [ngClass]="isSelectedColumn('Date')"
            (click)="sortInvoiceDate()"
        >
            <span> Date </span>

            <app-descending *ngIf="this.orderDefaultFlag === 'desc'">
            </app-descending>
            <app-ascending *ngIf="this.orderDefaultFlag === 'asc'">
            </app-ascending>
        </div>

        <div class="column-item">Customer Name</div>
        <div
            class="column-item"
            [ngClass]="isSelectedColumn('Invoice')"
            (click)="sortInvoice_no()"
        >
            Invoice #
        </div>

        <div class="column-item txt-right-align">Items</div>
        <div class="column-item txt-right-align">Total Value</div>
        <div class="column-item txt-center-align">Status</div>
        <div>
            <img
                matTooltip="Download"
                matTooltipClass="tooltip"
                src="/assets/images/svg/direct-download.svg"
                style="cursor: pointer"
                width="32px"
                height="32px"
                (click)="exportDraftSalesToExcel()"
            />
        </div>
    </div>

    <div *ngFor="let item of filteredValues; let idx = index" class="listItem">
        <div>{{idx + 1}}</div>
        <div class="item">{{item.invoice_date | date:'yyyy-d-M' }}</div>
        <div class="item">{{item.customer_name}}</div>
        <div class="item" (click)="openDialog(item)">{{item.invoice_no}}</div>

        <div class="item" style="text-align: right">{{item.no_of_items}}</div>
        <div class="item" style="text-align: right">
            {{item.net_total.toLocaleString('en-IN')}}
        </div>

        <div class="item" style="text-align: right">
            {{item.status === 'D' ? 'Draft' : 'Completed'}}
        </div>

        <div class="item" style="text-align: center">
            <mat-icon
                #tooltip="matTooltip"
                matTooltip="Edit/Modify Sale Details"
                matTooltipClass="tooltip"
                (mousedown)="tooltip.hide()"
                [ngStyle]="{'color':'#6d78d2', 'cursor': 'pointer'}"
                (click)="goSalesEditScreen(item)"
                >edit
            </mat-icon>
            <span style="position: relative; color: #6d78d2; top: -5px"
                >&nbsp;Edit</span
            >
        </div>

        <div class="item" style="text-align: center">&nbsp;</div>
        <div
            class="item"
            style="text-align: center"
            *ngIf="item.invoice_type === 'gstInvoice' && item.status !== 'D'"
        >
            <mat-icon
                #tooltip="matTooltip"
                matTooltip="Print Sale"
                matTooltipClass="tooltip"
                (mousedown)="tooltip.hide()"
                [ngStyle]="{'color':'#6d78d2', 'cursor': 'pointer'}"
                (click)="goPrintInvoice(item)"
                >print
            </mat-icon>
            <span style="font-size: 12px; font-weight: 600"
                >[{{item.print_count === -1 ? 'M': item.print_count}}]
            </span>
        </div>

        <!-- *ngIf="this.deleteAccess === 'Y'" -->
        <div
            class="item"
            *ngIf="item.status === 'D'"
            style="text-align: center"
        >
            <mat-icon
                #tooltip="matTooltip"
                matTooltip="Delete Draft Sale"
                matTooltipClass="tooltip"
                (mousedown)="tooltip.hide()"
                [ngStyle]="{'color':'#ff8484', 'cursor': 'pointer'}"
                (click)="presentAlertConfirm(item)"
                >delete_outline </mat-icon
            ><span style="position: relative; color: red; top: -5px"
                >&nbsp;Delete</span
            >
        </div>

        <div *ngIf="tabIndex === 1">
            <img
                matTooltip="Sales Return"
                matTooltipClass="tooltip"
                src="/assets/images/svg/return.svg"
                style="cursor: pointer"
                width="24px"
                height="24px"
                color="red"
                (click)="salesReturn(item)"
            />
        </div>
    </div>

    <!-- 
DnD - sample vertical menu
<mat-icon
    #tooltip="matTooltip"
    matTooltip="More Menu Options"
    matTooltipClass="tooltip"
    (mousedown)="tooltip.hide()"
    [matMenuTriggerFor]="menu"
    [matMenuTriggerData]="{item: item}"
    style="cursor: pointer"
>more_vert</mat-icon
>
<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-aliasMenuItems="item">
        <button mat-menu-item (click)="salesReturn(aliasMenuItems)">
            <mat-icon>keyboard_return</mat-icon>
            <span>Sales Return</span>
        </button>
    </ng-template>
</mat-menu> -->

    <mat-menu #admin="matMenu" [overlapTrigger]="false" class="myMenu">
        <div mat-menu-item class="mat-menu-line-height" (click)="dateFilter(7)">
            <span>Last 7 days</span>
        </div>

        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="dateFilter(14)"
        >
            <span>Last 14 days</span>
        </div>
    </mat-menu>

    <mat-menu #menuN="matMenu">
        <div mat-menu-item class="mat-menu-line-height" (click)="openDialog1()">
            Search By Invoice #
        </div>
        <div mat-menu-item class="mat-menu-line-height" (click)="openDialog1()">
            Sort By Recent Invoice
        </div>
        <div mat-menu-item class="mat-menu-line-height" (click)="openDialog1()">
            Sort By Old Invoice
        </div>
    </mat-menu>
</ion-content>
<!-- 
DnD - sample vertical menu
<mat-icon
	#tooltip="matTooltip"
	matTooltip="More Menu Options"
	matTooltipClass="tooltip"
	(mousedown)="tooltip.hide()"
	[matMenuTriggerFor]="menu"
	[matMenuTriggerData]="{item: item}"
	style="cursor: pointer"
>more_vert</mat-icon
>
<mat-menu #menu="matMenu">
	<ng-template matMenuContent let-aliasMenuItems="item">
		<button mat-menu-item (click)="salesReturn(aliasMenuItems)">
			<mat-icon>keyboard_return</mat-icon>
			<span>Sales Return</span>
		</button>
	</ng-template>
</mat-menu> -->
