<ion-content>
    <div class="si-screen-header sticky1">
        <div style="font-size: 20px; align-self: center">Sale Order View</div>

        <div style="display: flex; align-items: center">
            <div>
                <span style="padding: 0px 6px" *ngIf="this.data.status === 'C'">
                    <button
                        style="border-radius: 0px"
                        appPreventDoubleClick
                        class="cursor"
                        type="button"
                        [throttleTime]="500"
                        mat-stroked-button
                        type="button"
                        tabindex="-1"
                        (click)="salesReturn()"
                    >
                        <mat-icon>cloud_download</mat-icon>
                        &nbsp; Sales Return
                    </button>
                </span>

                <span style="padding: 0px 6px">
                    <button
                        style="border-radius: 0px"
                        appPreventDoubleClick
                        class="cursor"
                        type="button"
                        [throttleTime]="500"
                        mat-stroked-button
                        type="button"
                        tabindex="-1"
                        (click)="exportToExcel()"
                    >
                        <mat-icon>cloud_download</mat-icon>
                        &nbsp; Download
                    </button>
                </span>

                <span>&nbsp;&nbsp;&nbsp;</span>
                <span
                    class="item"
                    style="text-align: center; padding-right: 1rem"
                >
                    <button
                        style="border-radius: 0px"
                        appPreventDoubleClick
                        class="cursor"
                        type="button"
                        [throttleTime]="500"
                        mat-flat-button
                        type="button"
                        color="primary"
                        tabindex="-1"
                        (click)="goSalesEditScreen()"
                    >
                        <mat-icon
                            #tooltip="matTooltip"
                            matTooltip="Edit"
                            matTooltipClass="tooltip"
                            (mousedown)="tooltip.hide()"
                            [ngStyle]="{ color: '#fff', cursor: 'pointer' }"
                            >edit
                        </mat-icon>
                        Edit
                    </button>
                </span>
            </div>

            <img
                class="cursor"
                src="/assets/images/svg/close.svg"
                (click)="close()"
                width="16px"
                height="16px"
            />
        </div>
    </div>

    <div class="customer-info">
        <div>
            <div style="padding: 5px">
                <span style="font-size: 16px; font-weight: 600; opacity: 0.7">
                    Invoice # :
                </span>
                <span style="font-size: 14px; font-weight: 400">
                    {{ this.sale_master_data?.invoice_no }}
                </span>
            </div>

            <div style="padding: 5px">
                <span style="font-size: 16px; font-weight: 600; opacity: 0.7">
                    Invoice Date :
                </span>
                <span style="font-size: 14px; font-weight: 400">
                    {{ this.sale_master_data?.invoice_date | date: "d-M-yyyy" }}
                </span>
            </div>

            <div style="padding: 5px">
                <span style="font-size: 16px; font-weight: 600; opacity: 0.7">
                    Status :
                </span>
                <span style="font-size: 14px; font-weight: 400">
                    {{
                        this.sale_master_data?.status === "C" ? "Completed" : ""
                    }}
                </span>
            </div>
        </div>

        <div style="padding: 5px">
            <div style="font-size: 16px; font-weight: 600; opacity: 0.7">
                Billing Address
            </div>
            <div style="padding: 5px 0px">
                <div style="font-size: 14px; font-weight: 400">
                    {{ this.customer_data?.name }}
                </div>
                <div style="font-size: 14px; font-weight: 400; padding: 1px 0x">
                    {{ this.customer_data?.address1 }}
                </div>
                <div
                    style="font-size: 14px; font-weight: 400; padding: 1px 0px"
                >
                    {{ this.customer_data?.address2 }}
                </div>
                <div
                    style="font-size: 14px; font-weight: 400; padding: 1px 0px"
                >
                    {{ this.customer_data?.district }}
                </div>
                <div
                    style="font-size: 14px; font-weight: 400; padding: 1px 0px"
                >
                    {{ this.customer_data?.pin }}
                </div>
            </div>
        </div>

        <div style="padding: 5px">
            <div style="font-size: 16px; font-weight: 600; opacity: 0.7">
                Shipping Address
            </div>
            <div style="padding: 5px 0px">
                <div style="font-size: 14px; font-weight: 400">
                    {{ this.customer_data?.name }}
                </div>
                <div
                    style="font-size: 14px; font-weight: 400; padding: 1px 0px"
                >
                    {{ this.customer_data?.csa_address1 }}
                </div>
                <div
                    style="font-size: 14px; font-weight: 400; padding: 1px 0px"
                >
                    {{ this.customer_data?.csa_address2 }}
                </div>
                <div
                    style="font-size: 14px; font-weight: 400; padding: 1px 0px"
                >
                    {{ this.customer_data?.district }}
                </div>
                <div
                    style="font-size: 14px; font-weight: 400; padding: 1px 0px"
                >
                    {{ this.customer_data?.pin }}
                </div>
            </div>
        </div>
    </div>

    <div #epl_table>
        <table style="display: grid; width: 96%; margin: 0 auto">
            <thead class="sticky2">
                <tr class="si-header">
                    <th style="text-align: left; padding-left: 10px">SNo</th>
                    <th style="text-align: left">CODE</th>
                    <th style="text-align: left">DESCRIPTION</th>
                    <th style="text-align: left">HSN</th>
                    <th style="text-align: right">QTY</th>

                    <th style="text-align: right">MRP</th>
                    <th style="text-align: right">DIS%</th>

                    <th style="text-align: right">TAX</th>

                    <th style="text-align: right; padding-right: 10px">
                        NET AMT
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="
                        let item of sale_details_data ? sale_details_data : [];
                        let idx = index
                    "
                    class="si-list-item"
                >
                    <td style="text-align: left; padding-left: 10px">
                        {{ idx + 1 }}
                    </td>
                    <td>{{ item.product.product_code }}</td>
                    <td>{{ item.product.product_description }}</td>
                    <td>{{ item.product.hsn_code }}</td>
                    <td style="text-align: right">{{ item?.quantity }}</td>
                    <td style="text-align: right">
                        {{ (+item?.mrp).toFixed(2) }}
                    </td>
                    <td style="text-align: right">{{ item?.disc_percent }}</td>
                    <td style="text-align: right">{{ item?.tax }}</td>
                    <td style="text-align: right; padding-right: 10px">
                        {{ (+item?.total_value).toFixed(2) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="final-row">
        <div>&nbsp;</div>
        <div
            style="
                text-align: right;
                font-size: 15px;
                font-weight: 600;
                padding: 2px 6px;
            "
        >
            Sub Total
        </div>
        <div style="text-align: right; font-size: 15px; padding: 2px 6px">
            {{ (+sale_master_data?.total_value).toFixed(2) }}
        </div>
        <div>&nbsp;</div>
        <div
            style="
                text-align: right;
                font-size: 15px;
                font-weight: 600;
                padding: 2px 6px;
            "
        >
            Transport Exp
        </div>
        <div style="text-align: right; font-size: 14px; padding: 2px 6px">
            {{ (+sale_master_data?.transport_charges).toFixed(2) }}
        </div>
        <div>&nbsp;</div>
        <div
            style="
                text-align: right;
                font-size: 15px;
                font-weight: 600;
                padding: 2px 6px;
            "
        >
            Unload Exp
        </div>
        <div style="text-align: right; font-size: 14px; padding: 2px 6px">
            {{ (+sale_master_data?.unloading_charges).toFixed(2) }}
        </div>
        <div>&nbsp;</div>
        <div
            style="
                text-align: right;
                font-size: 15px;
                font-weight: 600;
                padding: 2px 6px;
            "
        >
            Misc Exp
        </div>
        <div style="text-align: right; font-size: 14px; padding: 2px 6px">
            {{ (+sale_master_data?.misc_charges).toFixed(2) }}
        </div>
        <div>&nbsp;</div>
        <div
            style="
                text-align: right;
                padding: 2px 6px;
                font-size: 15px;
                font-weight: 600;
            "
        >
            Net Total
        </div>
        <div style="text-align: right; font-size: 15px; padding: 2px 6px">
            {{ (+sale_master_data?.net_total).toFixed(2) }}
        </div>
    </div>
</ion-content>
