.content {
	display: grid;
	width: 100%;
	background-color: #fff;
}

.card {
	width: 300px;
	height: 140px;
	color: #b4b3d2;
	//	border: 1px solid rgb(161, 161, 161);
	//border-radius: 10px;
	background-color: #faf9f299;
	border: 1px solid grey;
	// box-shadow: 0 10px 10px -5px;
}

.section1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	justify-items: center;
	padding: 16px;
	background-color: #f7f7f7;
}

.canvas1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 16px;
	background-color: #f7f7f7;
}

.bus-dashboard {
	padding: 0 16px;
	color: #2f9d76;
	font-weight: bold;
	font-size: 20px;
	font-style: normal;
	line-height: 23px;
	letter-spacing: 0.2em;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.rectangle {
	display: grid;
	align-content: center;
	align-self: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	margin: 10px;
	background: #e2e2e2;
	border-radius: 50px;
	opacity: 0.9;
}

.section2 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 16px;
	justify-items: center;
	padding: 0 32px 32px;
}

.timeline {
	padding: 10px 10px 6px;
	color: #4e53b7;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.selected {
	color: black;
	border-bottom: 2px solid black;
}

.horizontal-spacer {
	padding: 32px;
}

.card-head {
	display: grid;
	align-content: center;
	color: #333;
	font-weight: 400;
	font-size: 18px;
}

.card-sub-head {
	padding-left: 16px;
	color: #4e53b7;
	font-size: 40px;
	opacity: 0.7;
}

.card-sub-data {
	min-height: 32px;
	padding-left: 16px;
	color: #000;
	font-weight: 400;
	font-size: 14px;
	opacity: 0.7;
}

.card-sub-head:hover,
.card-sub-data:hover {
	cursor: pointer;
	opacity: 1;
}

// .deep-link {
// 	background-color: #e1e7f3;
// }
// .deep-link:hover {
// 	opacity: 0.6;

// }

.list-item {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	gap: 16px;
	align-items: center;
	align-self: center;
	justify-self: center;
	width: 100%;
	margin: 8px 0;
	padding: 8px 0 8px 8px;
	color: #4e53b7;
	font-weight: 400;
	font-size: 15px;
	border-bottom: 1px solid #d1d1d1;

	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.example-card {
	width: 94%;
	min-width: 300px;
	padding: 16px;
	font-weight: 400;
	background-color: #f7f7f7;
	border-left: 1px solid #a4a4a4;
	border-left-style: dashed;
}

.example-card-header {
	padding: 4px 0;
	font-size: 16px;
}

.example-header-image {
	width: 24px;
	height: 24px;
	background-color: azure;
	background-image: url('/assets/images/svg/enquiry.svg');
	background-size: cover;
}

.example-header-sales-image {
	width: 24px;
	height: 24px;
	background-color: azure;
	background-image: url('/assets/images/svg/sales.svg');
	background-size: cover;
}

.example-header-purchase-image {
	width: 24px;
	height: 24px;
	background-color: azure;
	background-image: url('/assets/images/svg/purchase.svg');
	background-size: cover;
}

.mini-hdr {
	display: flex;
	padding-bottom: 16px;
}

.section-mid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	justify-items: center;
	padding: 16px;
	background-color: #bbf2f5;
}

.example-card1 {
	width: 94%;
	min-width: 300px;
	padding: 16px;
	font-weight: 400;
	background-color: #bbf2f5;
	border-left: 1px solid #a4a4a4;
	border-left-style: dashed;
}

.example-card-header1 {
	padding: 4px 0;
	font-size: 16px;
}

.example-card3 {
	width: 90%;
	min-width: 400px;
	padding: 32px 32px 32px 48px;
	font-weight: 400;
}

.example-card-header3 {
	padding: 4px 0;
	font-size: 16px;
}
