.tax-edit-wrap {
	display: grid;
	align-content: start;
	padding: 20px;
}

.save {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

.tax {
	padding-left: 20px;
}

.screen-header {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	color: #222;
	font-weight: 500;
	font-size: 18px;
}
