.search-wrap {
	display: grid;
	width: 100%;
}

.search-section {
	display: grid;
	grid-template-columns: 300px 1fr;
}

.form-wrap {
	display: grid;
	grid-template-columns: 130px 600px;
	gap: 10px;
	width: 80%;
	font-size: 1rem;
}

.inner-form {
	display: grid;
	grid-template-columns: 1fr 100px 100px 230px;
	gap: 10px;
}

.search-btn {
	padding: 0 20px;
}

.header,
.listItem,
.headerRow {
	display: grid;
	grid-template-columns: 40px 240px 120px 100px 100px 130px 90px 90px 90px 90px;
	align-items: center;
	padding: 5px;
}

.main-box {
	position: relative;
	display: grid;
	width: calc(100vw - 220px);
	padding: 10px 0 100px 16px;
	//@at-root: 0 auto;
}

.header-style {
	color: #333;
	font-size: 13px;
	background-color: #f1efef;
}

.listItem {
	background-color: #fff;
	border-bottom: 1px solid #f2f2f2;
}

.title-row {
	display: flex;
	justify-content: space-between;
}

.mat-auto-width {
	width: 280px;
}

.item {
	color: #333;
	font-size: 14px;
}

.mat-date-wrapper {
	width: 100%;
}

.title {
	color: #fff;
	font-size: 24px;
	line-height: 73px;
	text-align: center;
	background-color: #6b82b5;
	opacity: 0.6;
}

.title:hover {
	background-color: #6b82b5;
	opacity: 1;
	transition: 0.3s;
}

.mat-width-ext {
	width: 100%;
}

.customers {
	padding-top: 20px;
	text-align: right;
}

.example-radio-group {
	display: flex;
	flex-direction: column;
	/* display: inline-grid; */
	/* display: grid; */
	margin: 15px 0;
}

.radio-button {
	margin-bottom: 2px;
}

.example-action-buttons {
	padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
	flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
	align-items: center;
	justify-content: space-between;
}

.example-headers-align .mat-form-field + .mat-form-field {
	margin-left: 8px;
}

.advance-search {
	width: calc(100vw - 230px);
	padding-left: 32px;
}
