<ion-content>
    <div class="search-sale-header" style="padding: 1rem">All Sale Orders</div>
    <div class="search-bar">
        <div>
            <img
                src="/assets/images/svg/refresh.svg"
                width="22px"
                height="22px"
                style="cursor: pointer"
                matTooltip="Reset Search Filter"
                matTooltipClass="tooltip"
                (click)="reset()"
            />
        </div>
        <div
            [matMenuTriggerFor]="menuN"
            #menuTriggerN
            style="flex: 0 0 70px; padding: 0 16px"
        >
            <img
                src="/assets/images/svg/filter-results-button.svg"
                width="22px"
                height="22px"
                style="cursor: pointer"
                matTooltip="Advance Filter"
                matTooltipClass="tooltip"
            />
        </div>

        <app-search-customers
            (customerOutput)="customerInfoPage($event)"
            (customerSearchResetOutput)="customerSearchReset()"
        ></app-search-customers>

        <div
            class="filter_date_range"
            *ngIf="!isCustomDateFilter"
            [matMenuTriggerFor]="admin"
        >
            <div>
                <div>
                    {{this.from_date | date:'MMM dd'}} - {{this.to_date |
                    date:'dd, yyyy'}}
                </div>

                <div style="font-weight: 600">
                    Last {{this.searchByDays}} days
                </div>
            </div>
            <div style="position: relative; top: 4px">
                <img
                    src="/assets/images/svg/down-arrow.svg"
                    width="14px"
                    height="14px"
                />
            </div>
        </div>

        <ng-container *ngIf="isCustomDateFilter">
            <div class="filter_date_range">
                <div>
                    <mat-form-field style="margin-bottom: -1.25em">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input
                                matStartDate
                                matInput
                                readonly
                                placeholder="Start date"
                                [ngModel]="this.from_date"
                                (dateChange)="opsFromDateEvent($event)"
                            />
                            <input
                                matEndDate
                                matInput
                                readonly
                                placeholder="End date"
                                [ngModel]="this.to_date"
                                (dateChange)="opsToDateEvent($event)"
                            />
                        </mat-date-range-input>
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
        <div
            style="padding: 0px 0px 0px 10px"
            *ngIf="isCustomDateFilter"
            (click)="customDateFilter()"
        >
            <img
                class="cursor"
                src="/assets/images/svg/close.svg"
                width="20px"
                height="20px"
            />
        </div>
    </div>

    <div class="header header-style">
        <div class="column-item">#</div>

        <div
            class="column-item"
            [ngClass]="isSelectedColumn('Date')"
            (click)="sortInvoiceDate()"
        >
            <span> Date </span>

            <app-descending *ngIf="this.orderDefaultFlag === 'desc'">
            </app-descending>
            <app-ascending *ngIf="this.orderDefaultFlag === 'asc'">
            </app-ascending>
        </div>

        <div class="column-item">Customer Name</div>
        <div
            class="column-item"
            [ngClass]="isSelectedColumn('Invoice')"
            (click)="sortInvoice_no()"
        >
            Invoice #
        </div>
        <div class="column-item txt-right-align">&nbsp;</div>
        <div class="column-item txt-right-align">Items</div>
        <div class="column-item txt-right-align">Total Value</div>

        <div>
            <img
                matTooltip="Download"
                matTooltipClass="tooltip"
                src="/assets/images/svg/direct-download.svg"
                style="cursor: pointer"
                width="32px"
                height="32px"
                (click)="exportCompletedSalesToExcel()"
            />
        </div>
        <div>View</div>
        <div>Edit</div>
    </div>
    <div *ngIf="filteredValues?.length === 0" class="no-records-found">
        No records found
    </div>
    <div *ngFor="let item of filteredValues; let idx = index" class="listItem">
        <div>{{idx + 1}}</div>
        <div class="item">{{item.invoice_date | date:'d-M-yyyy' }}</div>
        <div class="item">{{item.customer_name}}</div>
        <div class="item" (click)="openDialog(item)">{{item.invoice_no}}</div>
        <div class="item">
            <button
                style="border-radius: 0px"
                appPreventDoubleClick
                class="cursor"
                type="button"
                [throttleTime]="500"
                mat-raised-button
                type="button"
                color="primary"
                (click)="presentConvertSaleConfirm(item)"
            >
                Convert to Sale Invoice
            </button>
        </div>
        <div class="item" style="text-align: right">{{item.no_of_items}}</div>
        <div class="item" style="text-align: right">
            {{item.net_total.toLocaleString('en-IN')}}
        </div>

        <div class="item" style="text-align: right">&nbsp;</div>
        <div class="item" style="text-align: center">
            <mat-icon
                #tooltip="matTooltip"
                matTooltip="View"
                matTooltipClass="tooltip"
                (mousedown)="tooltip.hide()"
                [ngStyle]="{'color':'#6d78d2', 'cursor': 'pointer'}"
                (click)="openDialog(item)"
                >remove_red_eye
            </mat-icon>
        </div>

        <div class="item" style="text-align: center">
            <mat-icon
                #tooltip="matTooltip"
                matTooltip="Edit/Modify Sale Details"
                matTooltipClass="tooltip"
                (mousedown)="tooltip.hide()"
                [ngStyle]="{'color':'#6d78d2', 'cursor': 'pointer'}"
                (click)="goSalesEditScreen(item)"
                >edit
            </mat-icon>
        </div>

        <div
            class="item"
            style="text-align: center"
            *ngIf="item.sale_type === 'stockIssue'"
        >
            <mat-icon
                #tooltip="matTooltip"
                matTooltip="Print Estimate"
                matTooltipClass="tooltip"
                (mousedown)="tooltip.hide()"
                [ngStyle]="{'color':'#6d78d2', 'cursor': 'pointer'}"
                (click)="goPrintEnquiry(item)"
                >print
            </mat-icon>
        </div>

        <div
            class="item"
            *ngIf="item.status === 'D'"
            style="text-align: center"
        >
            <mat-icon
                #tooltip="matTooltip"
                matTooltip="Delete Draft Sale"
                matTooltipClass="tooltip"
                (mousedown)="tooltip.hide()"
                [ngStyle]="{'color':'#ff8484', 'cursor': 'pointer'}"
                (click)="presentAlertConfirm(item)"
                >delete_outline
            </mat-icon>
        </div>
    </div>

    <!-- 
DnD - sample vertical menu
<mat-icon
    #tooltip="matTooltip"
    matTooltip="More Menu Options"
    matTooltipClass="tooltip"
    (mousedown)="tooltip.hide()"
    [matMenuTriggerFor]="menu"
    [matMenuTriggerData]="{item: item}"
    style="cursor: pointer"
>more_vert</mat-icon
>
<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-aliasMenuItems="item">
        <button mat-menu-item (click)="salesReturn(aliasMenuItems)">
            <mat-icon>keyboard_return</mat-icon>
            <span>Sales Return</span>
        </button>
    </ng-template>
</mat-menu> -->

    <mat-menu #admin="matMenu" [overlapTrigger]="false" class="myMenu">
        <div mat-menu-item class="mat-menu-line-height" (click)="dateFilter(7)">
            <span>Last 7 days</span>
        </div>

        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="dateFilter(14)"
        >
            <span>Last 14 days</span>
        </div>
        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="customDateFilter()"
        >
            <span>Custom</span>
        </div>
    </mat-menu>

    <mat-menu #menuN="matMenu">
        <div mat-menu-item class="mat-menu-line-height" (click)="openDialog1()">
            Search By Invoice #
        </div>
    </mat-menu>
</ion-content>
<!-- 
DnD - sample vertical menu
<mat-icon
	#tooltip="matTooltip"
	matTooltip="More Menu Options"
	matTooltipClass="tooltip"
	(mousedown)="tooltip.hide()"
	[matMenuTriggerFor]="menu"
	[matMenuTriggerData]="{item: item}"
	style="cursor: pointer"
>more_vert</mat-icon
>
<mat-menu #menu="matMenu">
	<ng-template matMenuContent let-aliasMenuItems="item">
		<button mat-menu-item (click)="salesReturn(aliasMenuItems)">
			<mat-icon>keyboard_return</mat-icon>
			<span>Sales Return</span>
		</button>
	</ng-template>
</mat-menu> -->
