<div class="content">
    <div class="header" style="font-size: 18px; font-weight: 600">
        Successfully converted to sale!!!
    </div>
    <div class="invoice-details">
        <div class="inv-det-heading"></div>
        <div>
            <div style="color: #000; font-size: 16; font-weight: 600">
                Invoice #
            </div>
            <div>{{ data.invoice_no }}</div>
        </div>
        <div>
            <div style="color: #000; font-size: 16; font-weight: 600">
                Invoice Date
            </div>
            <div>{{ data.invoice_date }}</div>
        </div>
    </div>

    <div class="footer" style="margin-top: 32px; justify-content: center">
        <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="close()"
            style="font-size: 1rem; padding: 0px 20px"
        >
            Ok
        </button>
    </div>
</div>
