<ion-content>
    <div class="search-bo-header sso-sticky">
        <div>BACK ORDERS</div>

        <div class="full-download" style="display: flex; align-self: center">
            &nbsp;
        </div>
    </div>

    <div class="table-header">
        <div class="th1">Enquiry Date</div>
        <div class="th1">Customer Name</div>
        <div class="th1">Product Info</div>
        <div class="th1" style="text-align: right">Avl Qty</div>
        <div class="th2" style="padding-left: 1rem">Notes</div>
        <div class="th3" style="text-align: right">Ask Qty</div>
        <div class="th4" style="text-align: right">Given Qty</div>
        <div class="th5" style="padding-left: 1rem">Reason</div>
    </div>

    <div
        *ngFor="let item of back_order_lst;let idx = index; let isOdd = odd; let isEven = even;"
    >
        <div class="bo-listItem">
            <div class="tc1">{{item.order_date | date: "dd-MMM-yyyy"}}</div>
            <div class="tc1">{{item.customer_name}}</div>
            <div
                class="tc2"
                style="cursor: pointer; color: blue"
                (click)="showInventoryReportsDialog(item)"
            >
                <div class="pcode">{{item.product_code}}</div>
                <div class="pdesc">{{item.description}}</div>
            </div>
            <div class="tc2" style="text-align: right">
                {{item.available_stock}}
            </div>
            <div class="tc2" style="padding-left: 1rem">{{item.notes}}</div>
            <div class="tc3" style="text-align: right">
                {{item.ask_quantity}}
            </div>
            <div class="tc4" style="text-align: right">
                {{item.give_quantity}}
            </div>
            <div class="tc5" style="padding-left: 1rem">{{item.reason}}</div>
        </div>
    </div>
</ion-content>
<!-- (click)="showInventoryReportsDialog(item)" -->
