<!-- Main Enquiry search page -->
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <div class="search-enquiry-header oe-sticky" style="padding: 1rem">
        <div>{{this.filter_text}} ENQUIRIES</div>

        <div class="full-download" style="display: flex; align-self: center">
            <span
                class="btn-grad add-btn"
                style="padding-right: 1rem; margin-left: 1rem"
                (click)="goEnquiryScreen()"
            >
                <mat-icon class="add-icon">add</mat-icon>
                <span style="padding: 5px">Add Enquiry</span>
            </span>
        </div>
    </div>

    <div class="search-bar-enquiry oe-sticky1">
        <div>
            <img
                src="/assets/images/svg/refresh.svg"
                width="22px"
                height="22px"
                style="cursor: pointer"
                matTooltip="Reset Search Filter"
                matTooltipClass="tooltip"
                (click)="reset()"
            />
        </div>
        <div
            [matMenuTriggerFor]="menuN"
            #menuTriggerN
            style="flex: 0 0 70px; padding: 0 16px"
        >
            <img
                src="/assets/images/svg/filter-results-button.svg"
                width="22px"
                height="22px"
                style="cursor: pointer"
                matTooltip="Advance Filter"
                matTooltipClass="tooltip"
            />
        </div>

        <app-search-customers
            (customerOutput)="customerInfoPage($event)"
            (customerSearchResetOutput)="customerSearchReset()"
        ></app-search-customers>
        <div
            style="
                display: flex;
                align-self: center;
                font-style: italic;
                font-size: 13px;
            "
        >
            Showing&nbsp;
            <span style="font-weight: 600">{{this.filteredValues?.length}}</span
            >&nbsp;of&nbsp;<span style="font-weight: 600"
                >{{this.full_count}}</span
            >
        </div>

        <div
            class="filter_date_range_enq"
            *ngIf="!isCustomDateFilter"
            [matMenuTriggerFor]="admin"
        >
            <div>
                <div>
                    {{this.from_date | date:'MMM dd'}} - {{this.to_date |
                    date:'dd, yyyy'}}
                </div>

                <div style="font-weight: 600">
                    Last {{this.searchByDays}} days
                </div>
            </div>
            <div style="position: relative; top: 4px">
                <img
                    src="/assets/images/svg/down-arrow.svg"
                    width="14px"
                    height="14px"
                />
            </div>
        </div>

        <ng-container *ngIf="isCustomDateFilter">
            <div class="filter_date_range">
                <div>
                    <mat-form-field style="margin-bottom: -1.25em">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input
                                matStartDate
                                matInput
                                readonly
                                placeholder="Start date"
                                [ngModel]="this.from_date"
                                (dateChange)="opsFromDateEvent($event)"
                            />
                            <input
                                matEndDate
                                matInput
                                readonly
                                placeholder="End date"
                                [ngModel]="this.to_date"
                                (dateChange)="opsToDateEvent($event)"
                            />
                        </mat-date-range-input>
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
        <div
            style="padding: 0px 0px 0px 10px"
            *ngIf="isCustomDateFilter"
            (click)="customDateFilter()"
        >
            <img
                class="cursor"
                src="/assets/images/svg/close.svg"
                width="20px"
                height="20px"
            />
        </div>
    </div>

    <div class="oe-header oe-header-style oe-sticky2">
        <div style="padding-left: 10px; cursor: pointer">Enq #</div>

        <div>CUSTOMER</div>

        <div style="text-align: right; padding-right: 16px">ITEMS</div>
        <div>STATUS</div>
        <div>INQUIRED ON</div>
        <div>&nbsp;</div>

        <div>&nbsp;</div>
    </div>

    <div
        *ngFor="let item of filteredValues let idx = index;"
        class="oe-listItem"
    >
        <div style="padding-left: 10px; color: blue" (click)="openDialog(item)">
            EQ-{{item.id}}
        </div>

        <div>{{item.customer_name}}</div>

        <div class="items" style="text-align: right; padding-right: 16px">
            {{item.no_of_items}}
        </div>
        <div>
            <div *ngIf="item.e_status === 'O' ">New</div>
            <div *ngIf="item.e_status === 'D' ">Verification in progress</div>
            <div
                *ngIf="item.e_status === 'P' "
                style="display: flex; align-items: center"
            >
                <span class="invoice" (click)="moveToSale(item,'TI')"
                    >INVOICE</span
                >
                <span class="stock" (click)="moveToSale(item, 'SI')"
                    >STOCK ISSUE</span
                >
            </div>
            <div *ngIf="item.e_status === 'E' ">Closed</div>
            <div
                *ngIf="item.e_status === 'X' "
                style="display: flex; align-items: center"
            >
                Cancelled
            </div>
        </div>
        <div>{{item.enquiry_date | date: 'dd/MMM/yyyy h:mm a'}}</div>
        <div class="more a-link">
            <div *ngIf="item.e_status === 'O' || item.e_status === 'D' ">
                <div
                    style="
                        display: flex;
                        justify-content: space-evenly;

                        align-items: center;
                    "
                >
                    <span
                        ><mat-icon
                            #tooltip="matTooltip"
                            matTooltip="Edit/Modify Enquiry"
                            matTooltipClass="tooltip"
                            (mousedown)="tooltip.hide()"
                            (click)="processEnquiry(item)"
                            >edit
                        </mat-icon></span
                    >

                    <span class="icon-style" (click)="delete(item)"
                        ><mat-icon
                            [ngStyle]="{'color':'#ff8484', 'cursor': 'pointer'}"
                            matTooltip="Delete Enquiry"
                            matTooltipClass="tooltip"
                            >delete_outline
                        </mat-icon></span
                    >
                </div>
            </div>

            <div *ngIf="item.e_status === 'P' ">
                <div style="display: flex; justify-content: space-evenly">
                    <span class="icon-style" (click)="delete(item)"
                        ><mat-icon
                            [ngStyle]="{'color':'#ff8484', 'cursor': 'pointer'}"
                            matTooltip="Delete Enquiry"
                            matTooltipClass="tooltip"
                            >delete_outline
                        </mat-icon></span
                    >
                </div>
            </div>
        </div>
    </div>

    <div
        class="no-records"
        *ngIf="tabIndex === 0 && this.filteredValues?.length === 0"
    >
        No items to show
    </div>

    <ng-container *ngIf="!is_loaded">
        <ion-item *ngFor="let fake of _helperUtilsService.generateFake(20)">
            <div
                style="
                    display: grid;
                    grid-template-columns: 1fr 1fr 100px 100px;
                    width: 100%;
                    gap: 10px;
                    padding: 10px;
                "
            >
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 150px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 100px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 150px"
                        ></ion-skeleton-text>
                        <ion-skeleton-text
                            animated
                            style="width: 100px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
                <div>
                    <ion-label text-wrap>
                        <ion-skeleton-text
                            animated
                            style="width: 120px"
                        ></ion-skeleton-text>
                    </ion-label>
                </div>
            </div>
        </ion-item>
    </ng-container>

    <mat-menu #admin="matMenu" [overlapTrigger]="false" class="myMenu">
        <div mat-menu-item class="mat-menu-line-height" (click)="dateFilter(7)">
            <span>Last 7 days</span>
        </div>

        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="dateFilter(14)"
        >
            <span>Last 14 days</span>
        </div>
        <div mat-menu-item class="mat-menu-line-height" (click)="dateFilter(0)">
            <span>Today</span>
        </div>
        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="customDateFilter()"
        >
            <span>Custom</span>
        </div>
    </mat-menu>

    <mat-menu #menuN="matMenu">
        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="statusFilterChanged('all')"
        >
            All
        </div>
        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="statusFilterChanged('P')"
        >
            Ready to Invoice Enquiries
        </div>
        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="statusFilterChanged('E')"
        >
            Closed Enquiries
        </div>
        <div
            mat-menu-item
            class="mat-menu-line-height"
            (click)="statusFilterChanged('X')"
        >
            Cancelled Enquiries
        </div>
    </mat-menu>

    <ng-container *ngIf="this.all_caught_up !== '' ">
        <span class="all_caught_up"> {{this.all_caught_up}} </span>
    </ng-container>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
        >
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
