.content {
	position: relative;
	display: grid;
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;

	.title {
		padding: 16px 8px;
		color: #000;
		font-size: 20px;
	}
}

.header,
.list-item {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr;
}

.list-item {
	padding: 4px;
}

.header {
	padding: 8px;
	background-color: lightgrey;
}
