.ir-screen-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    color: #222;
    background-color: #fff;
}

.customer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 0;
}

.ir-header {
    display: grid;
    grid-template-columns: 110px 110px 1fr 200px 100px 90px;
    padding: 10px;
    font-size: 13px;
    background-color: azure;
}

.ir-list-item {
    display: grid;
    grid-template-columns: 110px 110px 1fr 200px 100px 90px;
    padding: 6px;
    font-size: 12px;
    border-bottom: 1px solid #e7e7e7;
}

.action-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 5px 6px;
    border-bottom: 1px solid #e2e2e2;
}

.ir-header-sec {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 1rem;
}
