.screen-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 16px 16px 10px 10px;
	color: #222;
	font-weight: 500;
	font-size: 0.9rem;
	background-color: #fff;
}

.customer-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5px 0;
}

.header {
	display: grid;
	grid-template-columns: 110px 110px 1fr 200px 100px 90px;
	padding: 10px;
	font-size: 12px;
	background-color: #e7e7e7;
}

.list-item {
	display: grid;
	grid-template-columns: 110px 110px 1fr 200px 100px 90px;
	padding: 6px;
	font-size: 12px;
	border-bottom: 1px solid #e7e7e7;
}

.action-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 5px 6px;
	border-bottom: 1px solid #e2e2e2;
}
