@import "../../breakpoints/breakpoints.scss";

#toolbarMenu {
  cursor: pointer;
  margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
  flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
  cursor: pointer;
  margin: 0 8px;
}

#sidenavContainer {
  margin-top: 64px;
}

#sidenav {
  width: 180px;
}

#sidenav.menu-close {
  width: 60px;
  transition: width 0.2s;
}

#sidenav.menu-open {
  width: 180px;
  transition: width 0.2s;
}

.example-toolbar {
  display: flex;
  padding: 8px 20px 0px 8px;
  height: 60px;
  color: #222;
  background-color: #fff;

  box-shadow: 0 0 9px -5px rgb(0 0 0 / 70%);
}

.test {
  margin-left: 180px;
}
