<div>
  <mat-toolbar class="example-toolbar mat-elevation-z2">
    <app-header (onHBMenuClick)="onToolbarMenuToggle();"></app-header>
  </mat-toolbar>
  <mat-sidenav-container fullscreen id="sidenavContainer">
    <mat-sidenav
      #sidenav
      mode="side"
      [opened]="true"
      id="sidenav"
      [class.menu-open]="isMenuOpen"
      [class.menu-close]="!isMenuOpen"
    >
      <app-left-menu></app-left-menu>
    </mat-sidenav>
    <mat-sidenav-content
      class="test"
      [ngStyle]="{ 'margin-left.px': contentMargin }"
      *ngIf="isloaded"
    >
      <ion-router-outlet></ion-router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- mode="side" [opened]="false" [disableClose]="true" -->
