<div>
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-header></app-header>
  </mat-toolbar>
  <mat-sidenav-container fullscreen style="margin-top: 56px">
    <mat-sidenav #sidenav mode="side" [opened]="true">
      <app-left-menu></app-left-menu>
    </mat-sidenav>
    <mat-sidenav-content class="main_content">
      <ion-router-outlet></ion-router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- mode="side" [opened]="false" [disableClose]="true" -->
