.content {
	display: grid;
	width: 94%;
	margin: 0 auto;
	padding: 16px;
}

.brand-info {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto auto auto;
	width: 100%;
}

.screen-header {
	display: flex;
	justify-content: space-between;
	padding: 8px 0;
	color: #222;
	font-weight: 500;
	font-size: 18px;
}

.mat-width-ext {
	width: 100%;
}
